{% extends "template.html" %}
{% block conteudo %}
<div class="form-container">
    <form class="formulario" id="form-deletar" action="{{url_for('delete_mc', id=mc.id)}}" method="post"
        data-redirect="{{url_for('home')}}">
        <fieldset class="form-fieldset-deletar">
            <input type="hidden" name="id" value="{{ mc.id}}">
            <legend id="form-titulo">
                <h3>{{ titulo }}</h3>
            </legend>
            <div class="form-group-container">

                <div class="form-group">
                    <label for="cliente">Cliente</label>
                    <input class="input-normal" type="text" name="cliente" id="cliente" readonly tabindex="-1"
                        value="{{ mc.cliente}}">
                    <small>(Nome fantasia do cliente)</small>
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição:</label>
                    <input class="input-normal" type="text" name="descricao" id="descricao" readonly tabindex="-1"
                        value="{{ mc.descricao}}">
                    <small>(Descrição curta do item)</small>
                </div>
            </div>
            <div class="form-group-container">

                <div class="form-group">
                    <label for="proposta">Proposta Núm.</label>
                    <input class="input-normal" type="number" name="proposta" id="proposta" readonly tabindex="-1"
                        value="{{ mc.proposta}}">

                </div>

                <div class="form-group">
                    <label for="item">Item Núm.</label>
                    <input class="input-normal" type="number" name="item" id="item" readonly tabindex="-1"
                        value="{{ mc.item}}">

                </div>

                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input class="input-normal" step="0.01" type="number" name="preco" id="preco" readonly tabindex="-1"
                        value="{{ '%.2f'|format(mc.preco)}}">
                </div>

                <div class="form-group">
                    <label for="custo">Custo</label>
                    <input class="input-normal" step="0.01" type="number" name="custo" id="custo" readonly tabindex="-1"
                        value="{{'%.2f'|format(mc.custo)}}">
                </div>

                <div class="form-group">
                    <label for="margem_abs">MC Absoluta</label>
                    <input class="input-calc" type="number" name="margem_abs" id="margem_abs" readonly tabindex="-1"
                        value="{{ '%.2f'|format(mc.margem_abs)}}">
                </div>

                <div class="form-group">
                    <label for="margem_rel">MC(%)</label>
                    <input class="input-calc" type="number" name="margem_rel" id="margem_rel" readonly tabindex="-1"
                        value="{{ '%.1f'|format(mc.margem_rel)}}">
                </div>
            </div>
        </fieldset>
        <div class="form-navegar">
            <button type="submit" id="btn_exclude"></button>
            <button type="button" id="btn_home" onclick=window.location.href="{{ url_for('home') }}">
            </button>

        </div>
    </form>
</div>
{% endblock %}